services:
  frontend:
    build: ./frontend
    container_name: inventory_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build: .
    container_name: inventory_backend
    ports:
      - "8000:8000"
    environment:
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DB: inventory
      MONGO_HOST: mongo
      MONGO_PORT: 27017
      MONGO_DB: inventory_logs
    depends_on:
      - mysql
      - mongo

  mysql:
    image: mysql:8
    container_name: inventory_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: inventory
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mongo:
    image: mongo:6
    container_name: inventory_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mysql_data:
  mongo_data:
